<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/Side.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <style>
        .uploadResult{
            width: 100%;
            background-color: white;
            margin-top: 10px;
        }

        .uploadResult ul {
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: top;
            overflow: auto;
        }

        .uploadResult ul li{
            list-style: none;
            padding: 10px;
            margin-left: 2em;
        }

        .uploadResult ul li img{
            width: 100px;
        }
    </style>

</head>
<body>
<div class="sidebar">
    <div style="margin-bottom: 50px;">A N I P I C</div>
    <div><img src="/img/foot1.png" style="width:25px;"><a href="/posts">메인페이지</a></div>
    <div><img src="/img/foot3.png" style="width:25px;"><a href="/posts/post-form">게시물작성</a></div>
    <div><img src="/img/foot4.png" style="width:25px;"><a th:href="@{/member/profile/{email} (email = ${member.email})}">마이프로필</a></div>
    <div><img src="/img/foot2.png" style="width:25px;">
        <input type="text" style="border: white; border-bottom: outset; width: 100px;">
    </div>
    <div><img src="/img/foot5.png" style="width:25px;"><a href="/helps/form"> H E L P </a></div>
    <div><img src="/img/foot3.png" style="width:25px;"><a href="/reports/form"> 신고하기 </a></div>
    <div><img src="/img/foot1.png" style="width:25px;"><a href="/logout"> 로 그 아 웃</a></div>
</div>

<div class="body-text" style="margin-top: 100px; border-style: outset; padding: 50px; width: 500px; margin-left: 550px;">
    <p>게시물 작성</p>
     <form action="/posts" method="post">
         <div class="custom-file">
             <input type="file" class="custom-file-input files" id="fileInput" multiple>
             <label class="custom-file-label" data-browse="browse"></label>
         </div>
         <br>
         <label style="margin-left: 20px;">사진 미리보기</label>

         <div class="uploadResult">
             <ul>
             </ul>
         </div>
         <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
         <input type="text" name="content" placeholder="내용을 입력해주세요." style="width: 500px; height: 150px;"/>
         <br>
        <div class ="form-group">

        <div class="box">

        </div>
        <button type="submit" class="btn btn-primary" id="Check-Btn" disabled=true style="margin-top:30px; background-color: white;">등록하기</button>
        </div>
     </form>
</div>


    <script>
        $(document).ready(function(e) {

            var csrfHeaderName ="[[${_csrf.headerName}]]";
            var csrfTokenValue ="[[${_csrf.token}]]";

            var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
            var maxSize = 10485760; // 10MB

            function checkExtension(fileName, fileSize){

                if (fileSize >= maxSize){
                    alert("파일 사이즈 초과");
                    return false;
                }

                if(regex.test(fileName)){
                    alert("해당 종류의 파일은 업로드 할 수 없습니다.");
                    return false;
                }
                return  true;
            }

            $(".custom-file-input").on("change", function(){

                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

                const changeImgFile = document.getElementById("Check-Btn");

                var formData = new FormData();
                var inputFile =$(this);
                var files = inputFile[0].files;
                var appended = false;

                for (var i = 0; i < files.length; i++){

                    if(!checkExtension(files[i].name, files[i].size)){

                    }
                    console.log(files[i]);
                    formData.append("uploadFiles", files[i]);
                    appended = true;
                }
                if (!appended) {return;}
                for (var value of formData.values()){
                    console.log(value);
                }

                //upload ajax
                $.ajax({
                    url: 'uploadAjax',
                    processData : false,
                    contentType : false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeaderName, csrfTokenValue);
                    },
                    data : formData,
                    type : 'POST',
                    dataType : 'json',
                    success : function(result){
                        console.log(result);
                        changeImgFile.disabled = false;
                        // 나중에 화면처리
                        showResult(result);

                    },
                    error : function(jqXHR, textStatus, errorThrown){
                        console.log(textStatus);
                    }
                }); //ajax
            }); // end change event

            function showResult(uploadResultArr){

                var uploadUL = $(".uploadResult ul");

                var str = "";

                $(uploadResultArr).each(function(i, obj){

                    str += "<li data-name='" + obj.imgName + "' data-path='" +obj.path+
                        "' data-uuid='" + obj.uuid+"'>";
                    str += "<div>";
                    str += "<div>";
                    str += "<button type = 'button' data-file=\'" + obj.imageURL + "\'"
                    str += "class=<'btn-waring btn-sm'>X</button><br>";
                    str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                    str += "</div>";
                    str += "</li>";
                });
                uploadUL.append(str);
            }

            $(".uploadResult").on("click", "li button",function (e) {
                console.log("remove file");
                var csrfHeaderName ="[[${_csrf.headerName}]]";
                var csrfTokenValue ="[[${_csrf.token}]]";
                var targetFile = $(this).data("file");
                var targetLi = $(this).closest("li");

                $.ajax({
                    url : '/removeFile',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeaderName, csrfTokenValue);
                    },
                    data : {fileName: targetFile},
                    dataType : 'text',
                    type: 'POST',
                    success : function(result){
                        alert(result);

                        targetLi.remove();
                    }
                });
            });

            $(".btn-primary").on("click", function (e) {
                alert("게시물이 등록되었습니다.");
                e.preventDefault();

                var str = "";

                $(".uploadResult li").each(function (i, obj) {
                    var target = $(obj);

                    str += "<input type='hidden' name='imageDTOList[" + i + "].imgName' value='" + target.data('name') + "'>";
                    str += "<input type='hidden' name='imageDTOList[" + i + "].path' value='" + target.data('path') + "'>";
                    str += "<input type='hidden' name='imageDTOList[" + i + "].uuid' value='" + target.data('uuid') + "'>";

                });
                $(".box").html(str);

                $("form").submit();
            });


        });


    </script>
</body>
</html>

