<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/Side.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script>
        $(document).ready(function () {
           alert("수정하는 페이지");
        });

    </script>
</head>
<body>
<div class="sidebar">
    <div style="margin-bottom: 50px;">A N I P I C</div>
    <div><img src="/img/foot1.png" style="width:25px;"> 메인페이지</div>
    <div><img src="/img/foot2.png" style="width:25px;"> 알    람</div>
    <div><img src="/img/foot3.png" style="width:25px;"> 게시물작성</div>
    <div><img src="/img/foot4.png" style="width:25px;"> 마이프로필</div>
    <div><img src="/img/foot2.png" style="width:25px;">
        <input type="text" style="border: white; border-bottom: outset; width: 100px;">
    </div>
    <div><img src="/img/foot5.png" style="width:25px;"> H E L P</div>
    <div><img src="/img/foot1.png" style="width:25px;"> 로 그 아 웃</div>
</div>
<div class="body-text">
    <form action="/posts/update" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:name="nickname">
        <input type="hidden" th:name="id" th:value="${id}">
        <input type="text" th:name="content" />
        <input type="submit" th:name="update" th:value="수정하기"/>
    </form>
</div>
</body>
</html>

