<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
  <meta charset="UTF-8">
  <title>feed-write</title>
  <link href="/templates/CSS/style.css" rel="stylesheet">
</head>
<body>
<!-- 사이드 바 -->
<div class="sidebar">
  <div style="margin-bottom: 50px;">A N I P I C</div>
  <div><img src="/img/foot1.png" style="width:25px;"><a href="/posts">메인페이지</a></div>
  <div><img src="/img/foot3.png" style="width:25px;"><a href="/posts/post-form">게시물작성</a></div>
  <div><img src="/img/foot4.png" style="width:25px;"><a th:href="@{/member/profile/{email} (email = ${member.email})}">마이프로필</a></div>
  <div><img src="/img/foot2.png" style="width:25px;">
    <input type="text" style="border: white; border-bottom: outset; width: 100px;">
  </div>
  <div><img src="/img/foot5.png" style="width:25px;"><a href="/helps/form"> H E L P </a></div>
  <div><img src="/img/foot3.png" style="width:25px;"><a href="/reports/form"> 신고하기 </a></div>
  <div><img src="/img/foot1.png" style="width:25px;"><a href="/logout"> 로 그 아 웃</a></div>
</div>
<!-- 사이드 바 끝 -->
<div class="profile-edit-box" style="margin-left: 30%; margin-top: 80px;">
  <div class="profile-info">

    <div class="user">
      <div class="profile-pic"><img src="img/cat3.jpg" alt=""></div>  <!-- 프로필 사진 -->
      <p class="username">Anipic 계정 이름</p>              <!-- 유저 이름 -->
    </div>
  </div>
  <div class="post-content">

    <div class="reaction-wrapper">                        <!-- Feed 아래 쪽 -->
    </div>

    <p class="description"><span>제목 </span><input name="title" type="text">
    <p class="description"><span>내용 </span><textarea name="content"></textarea>
    <p class="description"><span>사진 첨부 </span><input type="file" name="file">   <!-- 파일 첨부 -->
    <button type="submit">작성</button>

</div>
</body>