<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
  <meta charset="UTF-8">
  <title>feed-write</title>
  <link href="/templates/CSS/style.css" rel="stylesheet">
</head>
<body>
<!-- 사이드 바 -->
<nav>
  <ul>
    <li class="logo"><img alt="" src="../static/img/logo.png"></li>
    <a></a>
    <li>
      <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  홈</a>
    </li>
    <li>
      <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  알림</a>
    </li>
    <li>
      <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  글쓰기</a>
    </li>
    <li>
      <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  프로필</a>
    </li>
    <li>
      <a href="#"></i><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  고객센터</a>
    </li>
    <li>
      <a href="#"></i><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  로그아웃</a>
    </li>
  </ul>
</nav>
<!-- 사이드 바 끝 -->
<div class="profile-edit-box" style="margin-left: 25%; margin-top: 80px;">
  <div class="profile-info">

    <div class="user">
      <div class="profile-pic"><img src="img/cat3.jpg" alt=""></div>  <!-- 프로필 사진 -->
      <p class="username">Anipic 계정 이름</p>              <!-- 유저 이름 -->
    </div>
  </div>
  <div class="post-content">

    <div class="reaction-wrapper">                        <!-- Feed 아래 쪽 -->
    </div>

    <p class="description"><span>제목 </span><input name="title" type="text">
    <p class="description"><span>내용 </span><textarea name="content"></textarea>
    <p class="description"><span>사진 첨부 </span><input type="file" name="file">   <!-- 파일 첨부 -->
    <button type="submit">작성</button>

</div>
</body>