<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
  <meta charset="UTF-8">
  <title>profile</title>
  <link href="/templates/CSS/style.css" rel="stylesheet">
</head>
<body>
<!-- 사이드 바 -->
<nav>
  <ul>
    <li class="logo"><img alt="" src="../static/img/logo.png"></li>
    <a></a>
    <li>
      <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  홈</a>
    </li>
    <li>
      <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  알림</a>
    </li>
    <li>
      <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  글쓰기</a>
    </li>
    <li>
      <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  프로필</a>
    </li>
    <li>
      <a href="#"></i><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  고객센터</a>
    </li>
    <li>
      <a href="#"></i><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  로그아웃</a>
    </li>
  </ul>
</nav>
<!-- 사이드 바 끝 -->
<div class="wrapper">
  <div class="wrapper">
    <div class="left-col">


      <!-- Feed 입력 -->
      <div class="post">
        <div class="info">

          <div class="user">
            <div class="profile-pic"><img src="img/cat3.jpg" alt=""></div>  <!-- 프로필 사진 -->
            <p class="username">Anipic 계정 이름</p>              <!-- 유저 이름 -->
          </div>

          <img src="img/option.PNG" class="options" alt="">     <!-- 상단 점 3개 -->
        </div>

        <img src="img/cat1.jpg" class="post-image" alt="">      <!-- 게시물 사진 -->

        <div class="post-content">

          <div class="reaction-wrapper">                        <!-- Feed 아래 쪽 -->
            <img src="img/like.PNG" class="icon" alt="">
            <img src="img/comment.PNG" class="icon" alt="">
            <img src="img/send.PNG" class="icon" alt="">
            <img src="img/save.PNG" class="save icon" alt="">
          </div>

          <p class="likes">1,012 likes</p>
          <p class="description"><span>Anipic 계정이름 </span> 집에 가고 싶은 양진철 입니다.</p>
          <p class="post-time">2 분전</p>
        </div>

        <div class="comment-wrapper">
          <img src="img/smile.PNG" style="padding-left: 10px;" class="icon" alt="">
          <input type="text" class="comment-box" style="padding-left: 10px" placeholder="댓글 달기">
          <button class="comment-btn">post</button>
        </div>

      </div>
      <!-- Feed 끝 -->

      <!-- Feed 입력 -->
      <div class="post">
        <div class="info">

          <div class="user">
            <div class="profile-pic"><img src="img/cover 2.png" alt=""></div>
            <p class="username">please kill me</p>
          </div>

          <img src="img/option.PNG" class="options" alt="">
        </div>

        <img src="img/cat2.png" class="post-image" alt="">

        <div class="post-content">

          <div class="reaction-wrapper">
            <img src="img/like.PNG" class="icon" alt="">
            <img src="img/comment.PNG" class="icon" alt="">
            <img src="img/send.PNG" class="icon" alt="">
            <img src="img/save.PNG" class="save icon" alt="">
          </div>

          <p class="likes">1,012 likes</p>
          <p class="description"><span>username </span> 차라리 죽여줘...</p>
          <p class="post-time">방금 전</p>
        </div>

        <div class="comment-wrapper">
          <img src="img/smile.PNG" style="padding-left: 10px;" class="icon" alt="">
          <input type="text" class="comment-box" style="padding-left: 10px" placeholder="댓글 달기">
          <button class="comment-btn">post</button>
        </div>

      </div>
      <!-- Feed 끝 -->
    </div>
  </div>
  </section>
</div>
</body>
</html>
