<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-form</title>
    <link rel="stylesheet" href="/templates/CSS/login.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <img alt="" src="../static/img/login-logo.png">
            <form class="login-form">

                <div class="field">
                    <input id="username" type="name" placeholder="username" />
                    <label for="username">username</label>
                </div>

                <div class="field">
                    <input id="password" type="password" placeholder="password" />
                    <label for="password">Password</label>
                </div>

                <button class="login-button" title="login">로그인</button>

                <div class="separator">
                    <div class="line"></div>
                    <p>또는</p>
                    <div class="line"></div>

                </div>

                <div class="other">
                    <a class="forgot-password" href="#">비밀번호를 잊으셨나요?</a>
                </div>

            </form>
        </div>

        <div class="box">
            <p>계정이 없으신가요? <a class="signup" href="#">가입하기</a></p>
        </div>

    </div>
</body>
</html>