<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-form</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
    <div class="box">
        <img alt="" src="/img/login-logo.png">

        <h4 th:text="${exception}" style="color: red"></h4>

        <form class="login-form" action="/login" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="field">
                <input id="nickname" name="nickname" type="text" placeholder="nickname" />
                <label for="nickname">username</label>
            </div>
            <div class="field">
                <input id="password" name="password" type="password" placeholder="password" />
                <label for="password">Password</label>
            </div>

            <button class="login-button" title="login" type="submit">로그인</button>
        </form>

        <div class="separator">
            <div class="line"></div>
            <p>또는</p>
            <div class="line"></div>

        </div>

        <div class="other">
            <button class="fb-login-btn" type="button" onclick="location.href='/oauth2/authorization/google'" >
                <i class="fa fa-facebook-official fb-icon"></i>
                <span class="">구글 계정으로 로그인 하기</span>
            </button>

            <a class="forgot-password" href="#">비밀번호를 잊으셨나요?</a>
        </div>
    </div>

    <div class="box">
        <p>계정이 없으신가요? <a class="signup" href="/register">가입하기</a></p>
    </div>
    <!---->
</div>
</body>
</html>
