<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/profileImgUpload.js}"></script>

<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<div class="container">
    <div class="box">
        <img alt="" src="/img/login-logo.png">
        <p>회원가입 후 친구들에게 반려동물을 자랑해보세요!</p>

        <form class="login-form" th:action="@{/member/profile/modify/{email} (email = ${member.email})}" method="post", enctype="multipart/form-data">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <input type="file" class="profileUploadBtn" id="profileImg" />
            <div class="str-box">

            </div>

            <button type="submit" class="primary-btn">계속</button>
        </form>
    </div>

</div>
</body>
</html>