<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/check.js}"></script>    <!-- js 파일 추가 -->
<script type="text/javascript" th:inline="javascript" th:src="@{/js/profileImgUpload.js}"></script>


<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>


<head>
    <meta charset="UTF-8">
    <title>profile-edit</title>
    <link href="/css/Side.css" rel="stylesheet">
</head>
<body>
<!-- 사이드 바 -->
<div class="sidebar">
    <div style="margin-bottom: 50px;">A N I P I C</div>
    <div><img src="/img/foot1.png" style="width:25px;"><a href="/posts/main">메인페이지</a></div>
    <div><img src="/img/foot3.png" style="width:25px;"><a href="/posts/post-form">게시물작성</a></div>
    <div><img src="/img/foot4.png" style="width:25px;"><a th:href="@{/member/profile/{email} (email = ${member.email})}">마이프로필</a></div>
    <div><img src="/img/foot2.png" style="width:25px;">
        <input type="text" style="border: white; border-bottom: outset; width: 100px;">
    </div>
    <div><img src="/img/foot5.png" style="width:25px;"><a href="/helps/form"> H E L P </a></div>
    <div><img src="/img/foot3.png" style="width:25px;"><a href="/pwdChange"> 비밀번호변경 </a></div>
    <div><img src="/img/foot1.png" style="width:25px;"><a href="/logout"> 로 그 아 웃</a></div>
</div>
<!-- 사이드 바 끝 -->
<div class="post1">

    <div class="info">

        <div class="profile-image">

        </div>
    </div>
</div>

<div class="post">


    <div class="post-content">

        <img th:src="@{/img/profile-picture/{path} (path = ${member.profileImg})}" style= "width:152px; height:152px;" alt="" id="submitForm1">

        <div class="reaction-wrapper">                        <!-- Feed 아래 쪽 -->
        </div>
        <form th:action="@{/member/modify/{email} (email = ${member.email})}" method="POST" id="form1">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <p class="description">닉네임 <input type="text" name="nickname" id="nickname" th:value="${member.nickname}" onchange="idCheck()" required>
                <span id="msgId"></span></p>
                <p class="description"><span>이메일 </span> <input type="email" name="email" id="email" th:value="${member.email}" readonly style="color: gray"></p>
                <p class="description"><span>소개 </span> <input name="introduce" id="introduce" th:value="${member.introduce}"></p>
                <p>
            <button title="profile-picture">제출</button>
                </p>
        </form>


        <form class="login-form" id="form2" th:action="@{/member/profileImg/modify/{email} (email = ${member.email})}" method="post", enctype="multipart/form-data">
            <input type="file" class="profileUploadBtn" id="profileImg" />
            <button type="submit" class="img-primary-btn" id="changeImgFile" disabled=true>변경하기</button>

            <div class="str-box1">
            </div>
        </form>

    </div>
</div>

</body>