<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>profile</title>
	<link href="/css/profile.css" rel="stylesheet">
    <link href="/css/Side.css" rel="stylesheet">
</head>

<body>

	<div class="wrapper">
        <div class="sidebar">
            <div style="margin-bottom: 50px;">A N I P I C</div>
            <div><img src="/img/foot1.png" style="width:25px;"> 메인페이지</div>
            <div><img src="/img/foot2.png" style="width:25px; "> 알    람</div>
            <div><img src="/img/foot3.png" style="width:25px;"><a href="/posts/post-form">게시물작성</a></div>
            <div><img src="/img/foot4.png" style="width:25px;"><a th:href="@{/member/profile/{email} (email = ${member.email})}">마이프로필</a></div>
            <div><img src="/img/foot2.png" style="width:25px;">
                <input type="text" style="border: white; border-bottom: outset; width: 100px;">
            </div>
            <div><img src="/img/foot5.png" style="width:25px;"> H E L P</div>
            <div><img src="/img/foot1.png" style="width:25px;"><a href="/logout"> 로 그 아 웃</a></div>
        </div>
		<div class="section">
			<body>
    <header>
        <div class="container">
            <div class="profile">

                <!--유저 프로필-->
                <div class="profile-image">
                    <img th:src="@{/img/profile-picture/{path} (path = ${member.profileImg})}" style= "width:152px; height:152px;" alt="">
                </div>

                <!--유저 이름-->
                <div class="profile-user-settings">
                    <h1 class="profile-user-name" th:text="${member.nickname}"></h1>
                    <button th:if="${isMe}" class="btn profile-edit-btn"><a th:href="@{/member/{email} (email = ${member.email})}">프로필 편집</a></button>
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                </div>

                <div class="profile-stats">
                    <ul>
                        <li>게시물 <span class="profile-stat-count">164</span></li>
                        <li>팔로워 <span class="profile-stat-count">188</span></li>
                        <li>팔로우 <span class="profile-stat-count">206</span></li>
                    </ul>
                </div>
                <div class="profile-bio">
                    <p><a th:text="${member.introduce}"></a></p>
                </div>
            </div>
            <!-- 유저 프로필 끝 -->
        </div>
    </header>

    <main>
        <div class="container">
            <div class="gallery">

                <!--/*@thymesVar id="posts" type="java.util.List<javawebdev.petsns.post.dto.PostVO>"*/-->
                <!--/*@thymesVar id="post" type="javawebdev.petsns.post.dto.PostVO"*/-->
                <div th:each="post:${posts}" class="gallery-item" tabindex="0">
                    <a th:href="@{/posts/{id} (id = ${post.id})}"><img th:src="@{/img/post/{path} (path = ${post.updateDTOS.get(0).getImagePath()})}"
                         style= "width:285px; height:285px;" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li th:value="${post.hearts.size()}" class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 0</li>
                            <li th:value="${post.comments.size()}" class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 0</li>
                        </ul>
                    </div></a>
                </div>
    
<!--                <div class="gallery-item" tabindex="0">-->
<!--                    <img src="/templates/img/cat2.png" style= "width:285px; height:285px;" class="gallery-image" alt="">-->
<!--                    <div class="gallery-item-info">-->
<!--                        <ul>-->
<!--                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>-->
<!--                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--    -->
<!--                <div class="gallery-item" tabindex="0">-->
<!--                    <img src="/templates/img/cat3.jpg" style= "width:285px; height:285px;" class="gallery-image" alt="">-->
<!--                    <div class="gallery-item-info">-->
<!--                        <ul>-->
<!--                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>-->
<!--                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="gallery-item" tabindex="0">-->
<!--                    <img src="/templates/img/cat4.jpg" style= "width:285px; height:285px;" class="gallery-image" alt="">-->
<!--                    <div class="gallery-item-info">-->
<!--                        <ul>-->
<!--                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>-->
<!--                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="gallery-item" tabindex="0">-->
<!--                    <img src="/templates/img/cat5.jpg" style= "width:285px; height:285px;" class="gallery-image" alt="">-->
<!--                    <div class="gallery-item-info">-->
<!--                        <ul>-->
<!--                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>-->
<!--                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="gallery-item" tabindex="0">-->
<!--                    <img src="/templates/img/cat6.jpg" style= "width:285px; height:285px;" class="gallery-image" alt="">-->
<!--                    <div class="gallery-item-info">-->
<!--                        <ul>-->
<!--                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>-->
<!--                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

        </div>
			</div>
    </main>
            </body>
        </div>
	</div>
</body>
</html>
