<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
    <meta charset="UTF-8">
    <title>profile-edit</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!-- 사이드 바 -->
<nav>
    <ul>
        <li class="logo"><img alt="" src="../static/img/logo.png"></li>
        <a></a>
        <li>
            <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  홈</a>
        </li>
        <li>
            <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  알림</a>
        </li>
        <li>
            <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  글쓰기</a>
        </li>
        <li>
            <a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  프로필</a>
        </li>
        <li>
            <a href="#"></i><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  고객센터</a>
        </li>
        <li>
            <a href="/logout"></i><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  로그아웃</a>
        </li>
    </ul>
</nav>
<!-- 사이드 바 끝 -->
<div class="post">
    <div class="info">

        <div class="user">
            <div class="profile-pic"><img src="img/cat3.jpg" alt=""></div>  <!-- 프로필 사진 -->
            <p class="username" th:text="${member.nickname}"></p>              <!-- 유저 이름 -->
        </div>
    </div>
    <div class="post-content">

        <div class="reaction-wrapper">                        <!-- Feed 아래 쪽 -->
        </div>
        <form th:action="@{/member/modify}" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <p class="description"><span>닉네임 </span> <input type="text" name="nickname" id="nickname" th:value="${member.nickname}"></p>
        <p class="description"><span>비밀번호 </span> <input type="password" name="password" id="password" th:value="${member.password}"></p>
        <p class="description"><span>이메일 </span> <input type="email" name="email" id="email" th:value="${member.email}" readonly></p>
        <p class="description"><span>소개 </span> <textarea name="introduce" th:value="${member.introduce}"></textarea></p>
        <p class="description"><span>프로필 </span> <button title="profile-picture">프로필</button>
        <p>
            <button title="profile-picture">제출</button>
        </p>
        </form>
    </div>

</div>
</body>