<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>profile</title>
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<nav>
		<ul>
			<li class="logo"><img alt="" src="../static/img/logo.png"></li>
            <a></a>
			<li>
				<a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  홈</a>
			</li>
			<li>
				<a href="#"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  알림</a>
			</li>
			<li>
				<a href="/posts"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  글쓰기</a>
			</li>
			<li>
				<a th:href="@{/member/{id} (id = ${member.id})}"><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  프로필</a>
			</li>
			<li>
				<a href="#"></i><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="">  고객센터</a>
			</li>
			<li>
				<a href="/logout"></i><img src="../static/img/home.PNG" style= "width:20px; height:20px; float: left;" alt="" >  로그아웃</a>
			</li>
		</ul>
	</nav>
	<div class="wrapper">
		<div class="section">
			<body>
    <header>
        <div class="container">
            <div class="profile">

                <!--유저 프로필-->
                <div class="profile-image">
                    <img src="/img/profile.jpg" style= "width:152px; height:152px;" alt="">
                </div>

                <!--유저 이름-->
                <div class="profile-user-settings">
                    <h1 class="profile-user-name" th:text="${member.nickname}"></h1>
                    <button class="btn profile-edit-btn"><a th:href="@{/member/{id} (id = ${member.id})}">프로필 편집</a></button>
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                </div>

                <div class="profile-stats">
                    <ul>
                        <li>게시물 <span class="profile-stat-count">164</span></li>
                        <li>팔로워 <span class="profile-stat-count">188</span></li>
                        <li>팔로우 <span class="profile-stat-count">206</span></li>
                    </ul>
                </div>
                <div class="profile-bio">
                    <p>소개글 입니다.</p>
                </div>
            </div>
            <!-- 유저 프로필 끝 -->
        </div>
    </header>
    
    <main>
        <div class="container">
            <div class="gallery">

                <div class="gallery-item" tabindex="0">
                    <img src="/templates/img/cat1.jpg" style= "width:285px; height:285px;" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                        </ul>
                    </div>
                </div>
    
                <div class="gallery-item" tabindex="0">
                    <img src="/templates/img/cat2.png" style= "width:285px; height:285px;" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                        </ul>
                    </div>
                </div>
    
                <div class="gallery-item" tabindex="0">
                    <img src="/templates/img/cat3.jpg" style= "width:285px; height:285px;" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item" tabindex="0">
                    <img src="/templates/img/cat4.jpg" style= "width:285px; height:285px;" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item" tabindex="0">
                    <img src="/templates/img/cat5.jpg" style= "width:285px; height:285px;" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                        </ul>
                    </div>
                </div>

                <div class="gallery-item" tabindex="0">
                    <img src="/templates/img/cat6.jpg" style= "width:285px; height:285px;" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                        </ul>
                    </div>
                </div>

        </div>
			</div>
    </main>
            </body>
        </div>
	</div>
</body>
</html>
