<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/check.js}"></script>    <!-- js 파일 추가 -->

<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup</title>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
<div class="container3">
  <div class="box3">
    <img alt="" src="img/login-logo.png">
    <p>회원가입 후 친구들에게 반려동물을 자랑해보세요!</p>

    <h3 th:text="${regiCheck}" style="color: red"></h3>

    <form class="login-form" th:action="@{/signUp}" method="post">

      <div class="field">
        <input id="nickname" name="nickname" type="name" placeholder="nickname" onchange="idCheck()" required maxlength="30"/>
        <label2 for="nickname">Nickname</label2>
      </div>
      &nbsp;<span id="msgId"></span><br>

      <div class="field">
        <input id="password" name="password" type="password" placeholder="password" onchange="check_pw()" required />
        <label2 for="password">Password</label2>
        <br>
      </div>

      <div class="field">
        <input id="passwordCheck" type="password" placeholder="passwordCheck" oninput="check_pw_re()" required />
        <label2 for="passwordCheck">PasswordCheck</label2>
        </br>
        &nbsp;<span id="CheckPwd"></span>
      </div>

      <div class="field">
        <input id="introduce" name="introduce" type="text" placeholder="introduce" />
        <label2 for="introduce">Introduce</label2>
      </div>

      <div class="field">
        <input id="email" name="email" type="name" placeholder="Email ex)aaa@aaa.com" onchange="emailCheck()"/>
        <label2 for="email">Email</label2>
        </br>
      &nbsp;&nbsp;<span id="msg"></span><br>
      </div>

      <button type="button" class="login-button2" onclick="mail_post_btn()">인증번호 요청</button>
      </br>
      &nbsp;<span id="emailMsg"></span>

      <div class="field">
        <input id="check_mail" name="check_mail" type="name" placeholder="인증번호를 입력해주세요." maxlength="10" oninput="mail_certification_check()">
        <label2 for="check_mail">인증번호</label2>
      </div>


      <button type="submit" id="login-button2" name="login-button2" class="login-button2" title="login" disabled=true >회원가입</button>


      <div class="separator">
        <div class="line"></div>
        <p>또는</p>
        <div class="line"></div>
      </div>
      <div class="other">
        <a class="forgot-password" href="#">비밀번호를 잊으셨나요?</a>
      </div>
    </form>
  </div>
  <div class="box3">
    <p>계정이 있으신가요? <a class="signup" href="/login-form">로그인</a></p>
  </div>
</div>
</body>
</html>