<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup</title>
  <link rel="stylesheet" href="/templates/CSS/login.css">
</head>
<body>
<div class="container">
  <div class="box">
    <img alt="" src="../static/img/login-logo.png">
    <p>회원가입 후 친구들에게 반려동물을 자랑해보세요!</p>
    <form class="login-form">
      <div class="field">
        <input id="username" type="name" placeholder="username" />
        <label for="username">username</label>
      </div>
      <div class="field">
        <input id="Email" type="name" placeholder="Email" />
        <label for="Email">Email</label>
      </div>
      <div class="field">
        <input id="password" type="password" placeholder="password" />
        <label for="password">Password</label>
      </div>
      <button class="login-button" title="login">회원가입</button>
      <div class="separator">
        <div class="line"></div>
        <p>또는</p>
        <div class="line"></div>
      </div>
      <div class="other">
        <a class="forgot-password" href="#">비밀번호를 잊으셨나요?</a>
      </div>
    </form>
  </div>
  <div class="box">
    <p>계정이 있으신가요? <a class="signup" href="#">로그인</a></p>
  </div>
</div>
</body>
</html>