<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>

    .sidebar {
      height: 100%;
      width: 300px;
      position: absolute;
      left: 0;
      top: 0;
      padding-top: 40px;
      border-right: outset;
    }

    .sidebar div {
      padding: 15px;
      margin-left: 50px;
      font-size: 24px;
      display: block;
    }

    .body-text {
      margin-top: 70px;
      margin-left: 293px;
      text-align: center;
      font-size: 20px;
      background: beige;
    }


  </style>
</head>
<body>
<div class="sidebar">
  <div style="margin-bottom: 50px;">A N I P I C</div>
  <div><img src="../img/foot1.png" style="width:25px;"> 메인페이지</div>
  <div><img src="../img/foot2.png" style="width:25px;"> 알    람</div>
  <div><img src="../img/foot3.png" style="width:25px;"> 게시물작성</div>
  <div><img src="../img/foot4.png" style="width:25px;"> 마이프로필</div>
  <div><img src="../img/foot2.png" style="width:25px;">
    <input type="text" style="border: white; border-bottom: outset; width: 100px;">
  </div>
  <div><img src="../img/foot5.png" style="width:25px;"> H E L P</div>
  <div><img src="../img/foot1.png" style="width:25px;"> 로 그 아 웃</div>
</div>

<div class="body-text">
 안녕하세요
</div>

</body>
</html>