<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javawebdev.petsns.block.BlockMapper">
<!--    차단하기-->
    <insert id="block">
        insert into block (blocker, blocked, registered_at)
        values (#{blocker}, #{blocked}, now());
    </insert>

<!--    차단 취소-->
    <delete id="cancel">
        delete
        from block
        where blocker = #{blocker}
          and blocked = #{blocked};
    </delete>
    
<!--    개별 차단 조회(validation 용)-->
    <select id="findByBlock" resultType="Block">
        select *
        from block
        where blocker = #{blocker}
          and blocked = #{blocked};
    </select>

<!--    내가 차단한 목록-->
    <select id="findByBlocker" resultType="Block">
        select *
        from block
        where blocker = #{nickname};
    </select>

<!--    모든 차단 조회-->
    <select id="findAll" resultType="Block">
        select *
        from block;
    </select>
</mapper>