<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javawebdev.petsns.follow.HeartMapper">

    <insert id="save">
        insert into follow (following_id, follower_id, registered_at)
        values (#{followingId}, #{followerId}, #{registerd_at});
    </insert>

    <delete id="delete">
        delete from follow
        where following_id = #{followingId} and follower_id = #{followerId};
    </delete>

    <select id="findByFollowingId" resultType="Follow">
        select *
        from follow
        where following_id = #{followingId};
    </select>

    <select id="findByFollowerId" resultType="Follow">
        select *
        from follow
        where follower_id = #{followerId};
    </select>

    <select id="findAll" resultType="Follow">
        select *
        from follow;
    </select>

    <select id="findByFollowingIdAndFollowerId" resultType="Follow">
        select *
        from follow
        where following_id = #{followingId}
          and follower_id = #{followerId};
    </select>

</mapper>