<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javawebdev.petsns.follow.FollowMapper">

    <insert id="save">
        insert into follow (following, follower, registered_at)
        values (#{following}, #{follower}, #{registerd_at});
    </insert>

    <delete id="delete">
        delete from follow
        where following = #{following} and follower = #{follower};
    </delete>

    <select id="findByFollowing" resultType="Follow">
        select *
        from follow
        where following = #{following};
    </select>

    <select id="findByFollower" resultType="Follow">
        select *
        from follow
        where follower = #{follower};
    </select>

    <select id="findAll" resultType="Follow">
        select *
        from follow;
    </select>

    <select id="findByFollowingAndFollower" resultType="Follow">
        select *
        from follow
        where following = #{following}
          and follower = #{follower};
    </select>

</mapper>