<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javawebdev.petsns.member.MemberRepository">

    <select id="count" resultType="int">
        select count(*)
        from snsdb.member;
    </select>

    <select id="selectMember" parameterType="String" resultType="Member">
        select *
        from snsdb.member
        where nickname = #{nickname}
    </select>

    <select id="selectMemberByNickname" parameterType="String" resultType="Member">
        select *
        from snsdb.member
        where nickname = #{nickname}
    </select>

    <select id="findMemberByNickname" resultType="Member" parameterType="String">
        select *
        from snsdb.member
        where nickname = #{nickname}
    </select>

    <select id="findMemberByEmail" parameterType="String" resultType="Member">
        select *
        from snsdb.member
        where email = #{email}
    </select>

    <insert id="insertMember" parameterType="Member">
        INSERT INTO snsdb.member(nickname, password, introduce, update_at, email)
        VALUES (#{nickname}, #{password}, #{introduce}, NOW(), #{email});
    </insert>

    <delete id="deleteMember">
        DELETE
        FROM snsdb.member
        WHERE nickname = #{nickname};
    </delete>

    <delete id="deleteAll">
        DELETE FROM snsdb.member
    </delete>


    <update id="updateMember" parameterType="Member">
        UPDATE snsdb.member
        SET nickname  = #{nickname},
            introduce = #{introduce},
            update_at = NOW()
        WHERE id = #{id};
    </update>

    <update id="updatePwd" parameterType="Member">
        UPDATE snsdb.member
        SET password = #{password}
        WHERE id = #{id};
    </update>

    <update id="updateProfileImg" parameterType="Member">
        UPDATE snsdb.member
        SET profileImg = #{profileImg}
        WHERE id = #{id};
    </update>

    <select id="selectById" resultType="Member" parameterType="int">
        select *
        from snsdb.member
        where id = #{id}
    </select>

    <select id="selectByIdNotOptional" resultType="Member" parameterType="int">
        select *
        from snsdb.member
        where id = #{id}
    </select>

    <select id="findAll" resultType="Member">
        select *
        from member;
    </select>

    <select id="emailCheck" resultType="Integer" parameterType="String">
        SELECT count(*)
        FROM snsdb.member
        WHERE email = #{email};
    </select>

    <select id="idCheck" resultType="Integer" parameterType="String">
        SELECT count(*)
        FROM snsdb.member
        WHERE nickname = #{nickname};
    </select>


</mapper>