<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javawebdev.petsns.post.PostMapper">
    <select id="getPostList" resultType="Post">
        select * from post;
    </select>

    <insert id="insert">
        insert into post (nickname, content, registered_at)
        values (#{nickname}, #{content}, now())
    </insert>

    <insert id="saveAndSetId" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into post (nickname, content, registered_at)
        values (#{nickname}, #{content}, now())
        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <select id="findAll" resultType="Post">
        select *
        from post;
    </select>

    <select id="findById" resultType="Post">
        select *
        from post
        where id = #{id};
    </select>

    <update id="update">
        update post
        set content = #{content}
        where id = #{id};
    </update>

    <delete id="delete">
        DELETE FROM post where id = #{id};
    </delete>

    <select id="findAllOfFollowingMember" resultType="Post">
        select p.id, p.nickname, p.content, p.registered_at
        from post p
                 join follow f on f.follow_ing = p.nickname
        where f.follow_er = #{nickname}
        order by p.registered_at desc;
    </select>

    <select id="findByNickname" resultType="Post">
        select id, content, registered_at, nickname
        from post
        where nickname = #{nickname};
    </select>
</mapper>