<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="javawebdev.petsns.post.PostMapper">
    <select id="getPostList" resultType="Post">
        select * from post;
    </select>

    <insert id="insert">
        insert into post (nickname, content)
        values (#{nickname}, #{content})
    </insert>

    <select id="findAll" resultType="Post">
        select *
        from post;
    </select>

    <select id="findById" resultType="Post">
        select *
        from post
        where id = #{id};
    </select>


</mapper>